.container{
    width: 100%;
    display:grid;
    height:100vh;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1fr 1.5fr 3fr 0.8fr;
    grid-template-areas:
      "sidebar main"
      "sidebar main"
      "sidebar content"
      "sidebar footer";
      grid-gap: 0.1rem;
      text-align: center;
  }