<div class="sidebar">
  <img src="assets/img/logo.png">
  Search by Keyword<br>
  <form action="">
    <input type="text" [(ngModel)]="keywords" [ngModelOptions]="{standalone: true}">
    <button (click)="sortByKeywords()">Search</button>
  </form>
  
  Sort by<br>
  <button (click)="sortByLikes()">Likes</button>
  <button (click)="sortByShares()">Shares</button>
  <button (click)="sortByComments()">Comments</button>
  <button (click)="sortByPage()">Page name</button><br>

  Limit Likes
  <ngx-slider [(value)]="valueLikes" [(highValue)]="highValueLikes" [options]="optionsLikes" (userChange)="limitLikes()"></ngx-slider>
  Limit Shares
  <ngx-slider [(value)]="valueShares" [(highValue)]="highValueShares" [options]="optionsShares"></ngx-slider>
  Limit Comments
  <ngx-slider [(value)]="valueComments" [(highValue)]="highValueComments" [options]="optionsComments"></ngx-slider>
  Limit by<br>
  <ngx-slider [(value)]="value" [(highValue)]="highValueDate" [options]="optionsDate"></ngx-slider>
 <mat-radio-group
    class="post-type-radio-group"
    [(ngModel)]="selectedType">
    <mat-radio-button (click)="updateType()" class="post-type-radio-button" [value]="2">Both</mat-radio-button>
    <mat-radio-button (click)="updateType()" class="post-type-radio-button" [value]="0">Video</mat-radio-button>
    <mat-radio-button (click)="updateType()" class="post-type-radio-button" [value]="1">Image</mat-radio-button>
  </mat-radio-group>
  <div>{{selectedType}}</div>

  <input type="submit" value="Submit" name="Reset">
</div>